*~
*.o
*.dylib
*.dll
*.bundle
*.so
*.fasl
*.xfasl
.DS_Store
doc/*.aux
doc/manual/
doc/spec/
doc/*.log
doc/*.info
doc/*.aux
doc/*.cp
doc/*.fn
doc/*.fns
doc/*.ky
doc/*.pg
doc/*.toc
doc/*.tps
doc/*.tp
doc/*.vr
doc/*.dvi
doc/*.cps
doc/*.vrs
doc/dir

*.*f*sl
foo*
*tmp*
ns-test
*.dylib
*~
*grovel*
a.out
GPATH
GRTAGS
GTAGS
.*.dSYM
*.dSYM
*~
*.o
.[#]*[#]
[#]*
*.old
nsrect-expose.c
test.c
.[#]*
demo-app
demo.app
*.framework
.DS_Store
*.iconset
*.png
*.icns
NSRect-Expose
*.nib
.*.sw?
venv
/reading-list2org
/dist/
/safari2org
/safari2org-beta
*-CLOS.lisp
*-STATIC.lisp

class_introspection